<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Operations</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Here is the Test of CRUD Operations</h1>
    <div class="crud">
        <a href="/add">Add Student</a>
        <!-- <a href="/update">Update Student</a> -->
        <!-- <a href="/delete">Remove Student</a> -->
        <!-- <a href="/find">Search Student</a> -->
    </div>
    <div class="list-of-students">
        <a href="/students">List of all Students</a>
    </div>
</body>

</html>