*{
    margin: 0;
    padding: 0;
    background-color: rgb(209, 198, 198);
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.crud{
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
    display: block;
}